#interests {
    margin-bottom: 0;
    padding-bottom: 0;
}

#interests_header {
    width: 95%;
    margin: auto;
    background-image: url("../Images/interests_banner.png");
    background-size: 100% 100%;
    margin-bottom: 3vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#interests_header_title {
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display';
    font-size: 2.5vw;
    font-weight: lighter;
    color: black;
    background-color: whitesmoke;
}

.interests_entry {
    flex: 1 1 38%;
    min-width: 250px;
    max-width: 45%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto auto;
}

.slideshow {
    width: 100%;
    min-height: 22vw;
    max-height: 26vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
}